/*
 * Theme Name: Factory & Industrial Theme
 * Version: 1.0
 * Description: Template built for Garage Auto Company, repairing Services, Paint Car, Oil Change Service and other Garage related services
 * Author: clawthemes
 * Author URI: https://themeforest.net/user/clawthemes
 */

 @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700|Hind:300,400,500,600,700');

 @import "/assets/css/bootstrap.css";
 @import "/assets/css/animate.css";
 @import "/assets/css/animsition.css";
 @import "/assets/css/font-awesome.css";
 @import "/assets/css/factory-icons.css";
 @import "/assets/css/theme-icons.css";
 @import "/assets/css/owl.carousel.css";
 @import "/assets/css/cubeportfolio.css";
 @import "/assets/css/magnific-popup.css";
 @import "/assets/css/shortcodes.css";
 @import "/includes/rev-slider/css/settings.css";
 @import "/includes/rev-slider/css/layers.css";
 @import "/includes/rev-slider/css/navigation.css";

/**
 * Reset Browsers
 * General
 * Elements
 * Forms
 * Typography
 * Extra classes
 * Layout
 * Top Bar
 * Header
 * Featured Title
 * Blog Post
 * Blog Single
 * Widgets
 * Footer
 * Bootom
 * Revolution Slider
 * Scroll Top
 * Media Queries
 **/

/* Reset Browsers
-------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit; }article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{font-size:62.5%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; }*,*:before,*:after{ -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; }body{background-color:#fff;line-height:1; }article,aside,details,figcaption,figure,footer,header,main,nav,section{display:block}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0; }caption,th,td{font-weight:normal;text-align:left; }blockquote:before,blockquote:after,q:before,q:after{content:'';content:none; }blockquote,q{quotes:none}a:focus{outline:none}a:hover,a:active{outline:0}a img{border:0}img{max-width:100%;height:auto; }select{max-width:100%}

/* General
-------------------------------------------------------------- */
body,
button,
input,
select,
textarea { font-family: 'Open Sans', sans-serif !important; font-weight: 400; color: #646464; font-size: 14px; line-height: 1.9; background-color: #fff; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; overflow-x: hidden; overflow-y: auto; }
img { height: auto; max-width: 100%; vertical-align: middle; -ms-interpolation-mode: bicubic }
.slider-img { 
	height: auto; 
	width: 100%; 
	vertical-align: middle; 
	-ms-interpolation-mode: bicubic;
}

p { margin: 0 0 24px; }
strong,
b,
cite { font-weight: bold; }
dfn,
cite,
em,
i,
blockquote { font-style: italic; }
blockquote { border: solid 1px #e7e7e7; padding: 0 0 0 20px; margin: 40px 0 34px 0; }
blockquote:before,
blockquote:after,
q:before,
q:after { content: ""; }
blockquote > p:last-child { margin-bottom: 0; }
blockquote cite { position: absolute; right: 0; bottom: 0; }
blockquote em,
blockquote i { font-style: normal; }
abbr,
acronym { border-bottom: 1px dotted #e7e7e7; cursor: help; }
mark,
ins { text-decoration: none; }
sup,
sub { font-size: 75%; height: 0; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -6px; }
sub { bottom: -3px; }
small { font-size: 75%; }
big { font-size: 125%; }
address { font-style: italic; margin: 0 0 20px; }
code,
kbd,
tt,
var,
samp,
pre { margin: 20px 0; padding: 8px 12px; background-color: #f4f4f4; border: 1px solid #e7e7e7; overflow-x: auto; font-family: Inconsolata, monospace; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-radius: 0; height: auto; }

/* Elements
-------------------------------------------------------------- */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*,
*:before,
*:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }
hr { background-color: #f1f1f1; border: solid 1px #e7e7e7; height: 1px; margin-bottom: 20px; }

/* List */
ul,
ol { padding: 0; margin: 0 0 20px 20px; }
ul { list-style: disc; }
ol { list-style: decimal; }
li > ul,
li > ol { margin-bottom: 0; }
ul li,
ol li { line-height: 1.625em; padding: 0.1em 0; padding-bottom: 17px;}
dl,
dd { margin: 0 0 20px; }
dt { font-weight: bold; }
del { filter: alpha(opacity=50); opacity: 0.5; }

/* Table */
table,
th,
td { border: 1px solid #e7e7e7; }
table { border-collapse: separate; border-spacing: 0; border-width: 1px 0 0 1px; margin: 0 0 30px; table-layout: fixed; width: 100%; }
caption, th, td { font-weight: normal; text-align: left; }
th { border-width: 0 1px 1px 0; font-weight: bold; }
td { border-width: 0 1px 1px 0; }
th,
td { padding: 8px 12px; }

/* Media */
embed,
iframe,
object,
video { margin-bottom: 20px; max-width: 100%; vertical-align: middle; }
p > embed,
p > iframe,
p > object,
p > video { margin-bottom: 0; }

/* Accessibility - Text meant only for screen readers */
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute !important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: #f4f4f4; border-radius: 3px; box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); clip: auto !important; color: #21759b; display: block; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }

/* Forms
-------------------------------------------------------------- */
/* Fixes */
button,
input { line-height: normal; }
button, input, select, textarea { font-size: 100%; line-height: inherit; margin: 0; vertical-align: baseline; }
input,
textarea { font-size: 1em; max-width: 100%; background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* Removing the inner shadow on iOS inputs */ }
textarea { overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */ vertical-align: top; /* Improves readability and alignment in all browsers */ }
input[type="checkbox"] { display: inline; }
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { line-height: 1; cursor: pointer; -webkit-appearance: button; border: 0; }
input[type="checkbox"],
input[type="radio"] { padding: 0; /* Addresses excess padding in IE8/9 */ }
input[type="search"] { -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */ }
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */ -webkit-appearance: none; }
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove chrome yellow autofill */
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset }

/* Reset search styling */
input[type="search"] { outline: 0 }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none }

/* Input normal */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] { border: solid 1px /*#e7e7e7*/ #ccb9b9; border-radius: 3px; padding: 13.5px 25px; background-color: #fff; line-height: inherit; width: 100%; margin-bottom: 20px; height: auto; text-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: border ease .238s; -moz-transition: border ease .238s; transition: border ease .238s; }

/* Contact Form 7 */
.widget-form select,
.widget-form textarea,
.widgetform-form input { margin-bottom: 0; }

/* Input focus */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus { border-color: #c4c4c4; outline: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

/* Button */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] { font-family: 'Hind', sans-serif; text-transform: uppercase; line-height: 26px; padding: 14.5px 24px; background-color: #00A886; color: #fff; font-size: 16px; font-weight: 600; display: inline-block; -webkit-appearance: none; -webkit-transition: all ease .238s; transition: all ease .238s; }

/* Button hover + focus */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus { outline: 0; background-color: #232323; }

#submit:hover,#submit:focus{background-color: #4c4c4c !important;}
/* Placeholder color */
::-webkit-input-placeholder { color: #9f9f9f; font-style: italic; }
:-moz-placeholder { color: #9f9f9f; font-style: italic; }
::-moz-placeholder { color: #9f9f9f; opacity: 1; font-style: italic; }/* Since FF19 lowers the opacity of the placeholder by default */ }
:-ms-input-placeholder { color: #9f9f9f; font-style: italic; }
/* Links */
a { color: #00A886; outline: 0; text-decoration: none; -webkit-transition: all ease .238s; transition: all ease .238s; }

a:hover,
a:focus,
a:active { outline: 0; color: #282828; text-decoration: none }

/* Typography
-------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
.font-heading { font-family: "Hind", sans-serif; color: #282828; font-weight: 500; line-height: 1.5; margin: 0 0 12px; text-rendering: optimizeLegibility; }

h1 { font-size: 2.571em; } /* 34px */
h2 { font-size: 2em; }     /* 28px */
h3 { font-size: 1.714em; } /* 24px */
h4 { font-size: 1.429em; } /* 20px */
h5 { font-size: 1.286em; } /* 18px */
h6 { font-size: 1.143em; } /* 16px */

/* Extra classes
-------------------------------------------------------------- */
.display-none, .hidden { display: none !important; }
.display-block { display: block !important; }
.display-inline { display: inline !important; }

.text-accent-color { color: #00A886; }
.text-grey { color: #232323 !important; }
.text-grey-white { color: #e3e3e3; }
.text-white { color: #fff !important; }
.text-dark { color: #181818 !important; }
.text-light { color: #919191 !important; }
.text-very-light { color: #f5f5f5 !important; }
.text-bold{ font-weight: 600 !important; }
.bg-accent { background-color: #00A886; }
.bg-dark { background-color: #f5f5f5 !important; }
.bg-light { background-color: #e3e3e3 !important; }
.bg-very-light { background-color: #f9f9f9 !important; }

.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-del { text-decoration: line-through !important; }

.letter-spacing-1px { letter-spacing: 1px !important; }
.letter-spacing-2px { letter-spacing: 2px !important; }
.letter-spacing-3px { letter-spacing: 3px !important; }
.letter-spacing-4px { letter-spacing: 4px !important; }
.letter-spacing-5px { letter-spacing: 5px !important; }
.letter-spacing-6px { letter-spacing: 6px !important; }
.letter-spacing-7px { letter-spacing: 7px !important; }
.letter-spacing-8px { letter-spacing: 8px !important; }
.letter-spacing-9px { letter-spacing: 9px !important; }
.letter-spacing-10px { letter-spacing: 10px !important; }

.font-size-10 { font-size: 10px; }
.font-size-11 { font-size: 11px; }
.font-size-12 { font-size: 12px; }
.font-size-13 { font-size: 13px; }
.font-size-14 { font-size: 14px; }
.font-size-15 { font-size: 15px; }
.font-size-16 { font-size: 16px; }
.font-size-17 { font-size: 17px; }
.font-size-18 { font-size: 18px; }
.font-size-19 { font-size: 19px; }
.font-size-20 { font-size: 20px; }
.font-size-21 { font-size: 21px; }
.font-size-22 { font-size: 22px; }
.font-size-23 { font-size: 23px; }
.font-size-24 { font-size: 24px; }
.font-size-25 { font-size: 25px; }
.font-size-28 { font-size: 28px !important; }
.font-size-30 { font-size: 30px !important; }
.font-size-34 { font-size: 34px !important; }

.font-weight-100 { font-weight: 100; }
.font-weight-200 { font-weight: 200; }
.font-weight-300 { font-weight: 300; }
.font-weight-400 { font-weight: 400; }
.font-weight-500 { font-weight: 500; }
.font-weight-600 { font-weight: 600; }
.font-weight-700 { font-weight: 700; }
.font-weight-800 { font-weight: 800; }
.font-weight-900 { font-weight: 900; }

.margin-top-0 { margin-top: 0px; }
.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-25 { margin-top: 25px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-35 { margin-top: 35px; }
.margin-top-40 { margin-top: 40px; }
.margin-top-45 { margin-top: 45px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-55 { margin-top: 55px; }
.margin-top-60 { margin-top: 60px; }
.margin-top-65 { margin-top: 65px; }
.margin-top-70 { margin-top: 70px; }
.margin-top-75 { margin-top: 75px; }
.margin-top-80 { margin-top: 80px; }
.margin-top-85 { margin-top: 85px; }
.margin-top-90 { margin-top: 90px; }
.margin-top-95 { margin-top: 95px; }
.margin-top-100 { margin-top: 100px; }

.margin-bottom-0 { margin-bottom: 0px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-13 { margin-bottom: 13px; }
.margin-bottom-15 { margin-bottom: 15px; }
.margin-bottom-18 { margin-bottom: 18px; }
.margin-bottom-20 { margin-bottom: 20px; }
.margin-bottom-25 { margin-bottom: 25px; }
.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-35 { margin-bottom: 35px; }
.margin-bottom-40 { margin-bottom: 40px; }
.margin-bottom-45 { margin-bottom: 45px; }
.margin-bottom-50 { margin-bottom: 50px; }
.margin-bottom-55 { margin-bottom: 55px; }
.margin-bottom-60 { margin-bottom: 60px; }
.margin-bottom-65 { margin-bottom: 65px; }
.margin-bottom-70 { margin-bottom: 70px; }
.margin-bottom-75 { margin-bottom: 75px; }
.margin-bottom-80 { margin-bottom: 80px; }
.margin-bottom-85 { margin-bottom: 85px; }
.margin-bottom-90 { margin-bottom: 90px; }
.margin-bottom-95 { margin-bottom: 95px; }
.margin-bottom-100 { margin-bottom: 100px; }

.margin-right-0 { margin-right: 0px; }
.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-15 { margin-right: 15px; }
.margin-right-20 { margin-right: 20px; }
.margin-right-25 { margin-right: 25px; }
.margin-right-30 { margin-right: 30px; }
.margin-right-35 { margin-right: 35px; }
.margin-right-40 { margin-right: 40px; }
.margin-right-45 { margin-right: 45px; }
.margin-right-50 { margin-right: 50px; }
.margin-right-55 { margin-right: 55px; }
.margin-right-60 { margin-right: 60px; }
.margin-right-65 { margin-right: 65px; }
.margin-right-70 { margin-right: 70px; }
.margin-right-75 { margin-right: 75px; }
.margin-right-80 { margin-right: 80px; }
.margin-right-85 { margin-right: 85px; }
.margin-right-90 { margin-right: 90px; }
.margin-right-95 { margin-right: 95px; }
.margin-right-100 { margin-right: 100px; }

.margin-left-0 { margin-left: 0px; }
.margin-left-5 { margin-left: 5px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-15 { margin-left: 15px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-25 { margin-left: 25px; }
.margin-left-30 { margin-left: 30px; }
.margin-left-35 { margin-left: 35px; }
.margin-left-40 { margin-left: 40px; }
.margin-left-45 { margin-left: 45px; }
.margin-left-50 { margin-left: 50px; }
.margin-left-55 { margin-left: 55px; }
.margin-left-60 { margin-left: 60px; }
.margin-left-65 { margin-left: 65px; }
.margin-left-70 { margin-left: 70px; }
.margin-left-75 { margin-left: 75px; }
.margin-left-80 { margin-left: 80px; }
.margin-left-85 { margin-left: 85px; }
.margin-left-90 { margin-left: 90px; }
.margin-left-95 { margin-left: 95px; }
.margin-left-100 { margin-left: 100px; }
.margin-left-105 { margin-left: 105px; }

.padding-left-0 { padding-left: 0px; }
.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-15 { padding-left: 15px; }
.padding-left-20 { padding-left: 20px; }
.padding-left-25 { padding-left: 25px; }
.padding-left-30 { padding-left: 30px; }
.padding-left-35 { padding-left: 35px; }
.padding-left-40 { padding-left: 40px; }
.padding-left-45 { padding-left: 45px; }
.padding-left-50 { padding-left: 50px; }
.padding-left-55 { padding-left: 55px; }
.padding-left-60 { padding-left: 60px; }
.padding-left-65 { padding-left: 65px; }
.padding-left-70 { padding-left: 70px; }
.padding-left-75 { padding-left: 75px; }
.padding-left-80 { padding-left: 80px; }
.padding-left-85 { padding-left: 85px; }
.padding-left-90 { padding-left: 90px; }
.padding-left-95 { padding-left: 95px; }
.padding-left-100 { padding-left: 100px; }
.padding-left-105 { padding-left: 105px; }

.no-padding { padding: 0 !important; }

/* Clearfix */
.clearfix { *zoom: 1; }
.clearfix:before,
.clearfix:after,
.wprt-container:before,
.wprt-container:after { clear: both; display: table; line-height: 0; content: ""; }
.clearfix:after,
.wprt-container:after { clear: both; }

.wprt-row { margin: 0 -10px }
.wprt-row .col { float: left; padding: 0 10px; }
.wprt-row .span_1_of_1.col { float: none }
.wprt-row .span_1_of_1 { width: 100%; }
.wprt-row .span_1_of_2 { width: 50% }
.wprt-row .span_1_of_3 { width: 33.33% }
.wprt-row .span_1_of_4 { width: 25% }
.wprt-row .span_1_of_5 { width: 20% }

/* Gutter */
.wprt-row.gutter-5 { margin-left: -2.5px; margin-left: -2.5px; }
.wprt-row.gutter-5 > .col { padding-left: 2.5px; padding-right: 2.5px}
.wprt-row.gutter-10 { margin-left: -5px; margin-right: -5px; }
.wprt-row.gutter-10 > .col { padding-left: 5px; padding-right: 5px; }
.wprt-row.gutter-15 { margin-left: -7.5px; margin-right: -7.5px; }
.wprt-row.gutter-15 > .col { padding-left: 7.5px; padding-right: 7.5px; }
.wprt-row.gutter-20 { margin-left: -10px; margin-right: -10px; }
.wprt-row.gutter-20 > .col { padding-left: 10px; padding-right: 10px; }
.wprt-row.gutter-25 { margin-left: -12.5px; margin-right: -12.5px; }
.wprt-row.gutter-25 > .col { padding-left: 12.5px; padding-right: 12.5px; }
.wprt-row.gutter-30 { margin-left: -15px; margin-right: -15px; }
.wprt-row.gutter-30 > .col { padding-left: 15px; padding-right: 15px; }
.wprt-row.gutter-35 { margin-left: -17.5px; margin-right: -17.5px; }
.wprt-row.gutter-35 > .col { padding-left: 17.5px; padding-right: 17.5px; }
.wprt-row.gutter-40 { margin-left: -20px; margin-right: -20px; }
.wprt-row.gutter-40 > .col { padding-left: 20px; padding-right: 20px; }
.wprt-row.gutter-45 { margin-left: -22.5px; margin-right: -22.5px; }
.wprt-row.gutter-45 > .col { padding-left: 22.5px; padding-right: 22.5px; }
.wprt-row.gutter-50 { margin-left: -25px; margin-right: -25px; }
.wprt-row.gutter-50 > .col { padding-left: 25px; padding-right: 25px; }
.wprt-row.gutter-60 { margin-left: -30px; margin-right: -30px; }
.wprt-row.gutter-60 > .col { padding-left: 30px; padding-right: 30px; }
.wprt-row.gutter-70 { margin-left: -35px; margin-right: -35px; }
.wprt-row.gutter-70 > .col { padding-left: 35px; padding-right: 35px; }
.wprt-row.gutter-80 { margin-left: -40px; margin-right: -40px; }
.wprt-row.gutter-80 > .col { padding-left: 40px; padding-right: 40px; }

.row.no-gutters { margin-right: 0; margin-left: 0; }
.row.no-gutters > [class*="col-"],
.container-fluid { padding-right: 0; padding-left: 0; }

/* Layout
-------------------------------------------------------------- */
.wprt-container { width: 1170px; margin: 0 auto; max-width: 90%; }
#page { background-color: #fff; }
#main-content { padding: 80px 0; }
.no-padding-content #main-content { padding: 0; }
.page-single-project #main-content { padding: 0; }

/* Overrdie for Front-Page and Pages
-------------------------------------------------------------- */
body.front-page #main-content,
body.page #main-content { padding-top: 0; padding-bottom: 0px; }

/* Inner Content */
#inner-content,
#inner-sidebar { position: relative; z-index: 1; }

#inner-content:after,
#inner-sidebar:after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-style: solid; border-width: 0; z-index: -1; }

/* Sidebar Right (default) */
#site-content { float: left; width: 74.358% }
#sidebar { /*float: right;*/ width: 100%; }

/* Sidebar Left */
.sidebar-left #site-content { float: right; }
.sidebar-left #sidebar { float: left; }

/* No Sidebar */
.no-sidebar #site-content { width: 100% !important; max-width: none !important; float: none !important; }

/* Top Bar
-------------------------------------------------------------- */
#top-bar { background-color: #242424; }
#top-bar #top-bar-inner { padding: 14px 0; }
#top-bar .top-bar-inner-wrap { display: table; width: 100%; overflow: hidden; }
#top-bar .top-bar-inner-wrap .top-bar-content { display: table-cell; width: 60%; text-align: left; vertical-align: middle; }
#top-bar .top-bar-inner-wrap .top-bar-socials { display: table-cell; width: 40%; text-align: right; vertical-align: middle; }

/* Top Bar Content */
#top-bar .top-bar-content .text { color: #fff; }

/* Top Bar Socials */
#top-bar .top-bar-socials .icons a { margin-left: 10px; width: 20px; height: 20px; display: inline-block; color: #fff; font-size: 17px; }
#top-bar .top-bar-socials .icons a:hover { color: #00A886; }

/* Header
-------------------------------------------------------------- */
#site-header #main-nav { display: block;  text-transform: uppercase;}
#site-header #header-search { opacity: 0; visibility: hidden; /*position: absolute;*/ top: 50%; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index: 999; }
#site-header { position: relative; }
#site-header-inner { position: relative; padding-top: 28px; padding-bottom: 28px; height: 100%; }
#site-logo { float: left; }

#site-header #site-header-inner { padding-top: 27px; padding-bottom: 46px; }
#site-header .site-navigation-wrap .inner { position: absolute; left: 50%; top: 100%; background-color: #00A886; padding: 5px 25px; z-index: 99999; -webkit-transform: translate3d(-50%,-50%,0); transform: translate3d(-50%,-50%,0); }
#site-header #header-search { right: 40px; opacity: 0; visibility: hidden; }

#site-info { position: relative; }
#site-info .site-logo { float: left; }
#site-info .info-add { position: absolute; top: 0; right: 500px; }
#site-info .info-phone { position: absolute; top: 0; right: 250px; }
#site-info .info-hour { position: absolute; top: 0; right: 0; }

body.menu-has-search #site-header #header-search { opacity: 1; visibility: visible; }

/* Logo */
#site-logo img { width: 173px; height: 61px; }

/* Header Aside Content */
#site-header #header-aside { float: right; margin-top: 10px; }
#site-header .wprt-info { float: right; }
#site-header .wprt-info .info-wrap { display: table; overflow: hidden; width: 100%; }
#site-header .wprt-info .info-i,
#site-header .wprt-info .info-c { display: table-cell; text-align: left; vertical-align: top; }
#site-header .wprt-info .info-i { width: 45px; }

#site-header .wprt-info .info-i span { position: relative; z-index: 1; color: #00A886; font-size: 20px; width: 44px; height: 44px; line-height: 44px; text-align: center; display: inline-block; margin-right: 16px; }
#site-header .wprt-info .info-i span:after { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: -1; border: 2px solid #00A886; border-radius: 50%; background-color: transparent; }
#site-header .wprt-info .inner > div { float: left; display: block; width: 220px; position: relative; line-height: 20px; margin-left: 32px; }
#site-header .wprt-info .inner > div:first-child { margin-left: 0; }
#site-header .wprt-info .info-c > span { font-size: 20px; }

/* Menu */
#main-nav ul { margin: 0; list-style: none; }
#main-nav ul li { position: relative; padding: 0; }
#main-nav ul li a { font-size: 15px; color: #fff; font-family: 'Hind', sans-serif; font-weight: 600; display: inline-block; }
#main-nav > ul > li a:hover { color: #282828; }
#main-nav > ul > li { float: left; padding: 0 17px; margin-right: 8px; }
#main-nav > ul > li > a { line-height: 60px; position: relative; }
#main-nav > ul > li.current-menu-item:after,
#main-nav > ul > li:after { position: absolute; top: 103%; left: 0; content: ""; width: 100%; height: 3px; background: #fff; }
#main-nav > ul > li:after { width: 0; -webkit-transition: all ease .500s; transition: all ease .500s; }
#main-nav > ul > li:hover:after { width: 100%; -webkit-transition: all ease .500s; transition: all ease .500s; }

/* SubMenu */
#main-nav ul ul { position: absolute; top: 109%; left: 0; width: 220px; visibility: hidden; opacity: 0; background-color: #000; box-shadow: 0px 3px 8px 0 rgba(0,0,0,0.1); -webkit-transform: translateX(10px); transform: translateX(10px); -webkit-transition: all ease .500s; transition: all ease .500s; }
#main-nav ul ul li { padding: 13px 20px; border-top: solid 1px #333; }
#main-nav ul ul li a { color: #e3e3e3; display: block; font-size: 15px; }
#main-nav ul ul li a:hover { color: #00A886; }
#main-nav ul li.menu-item-has-children > a { position: relative; padding-right: 15px; }
#main-nav ul li.menu-item-has-children > a:after { position: absolute; top: 0; right: 0; content: "\f107"; font-family: "Fontawesome"; }
#main-nav ul ul li.menu-item-has-children > a:after { content: "\f105"; top: 50%; right: 0; transform: translateY(-50%); }
#main-nav ul ul ul { position: absolute; top: 0; left: 100%; -webkit-transform: translateX(0); transform: translateX(0); -webkit-transition: all ease .500s; transition: all ease .500s; }
#main-nav ul li:hover > ul { opacity: 1; visibility: visible; -webkit-transform: translateX(0); transform: translateX(0); -webkit-transition: all ease .500s; transition: all ease .500s; }

/* Mobile Navigation */
#main-nav-mobi { display: block; margin: 0 auto; width: 100%; position: absolute; left: 0; top: 100%; z-index: 999999; background-color: #252525; }
#main-nav-mobi ul { display: block; list-style: none; margin: 0; padding: 0; }
#main-nav-mobi ul li { margin:0; position: relative; text-align: center; cursor: pointer; border-top: 1px solid #333; padding-top: 0; padding-bottom: 0; }
#main-nav-mobi ul > li > a { color: #fff; font-family: "Hind", sans-serif; display: inline-block; font-size: 14px; text-transform: uppercase; line-height: 50px; text-decoration: none; }
#main-nav-mobi ul > li > a:hover { color: #00A886; }
#main-nav-mobi ul ul li { background-color: #292929; }
#main-nav-mobi ul ul ul li { background-color: #111; }
#main-nav-mobi ul li.menu-item-has-children .arrow { position: absolute; right: 0; text-align: center; top: 0; height: 50px; width: 50px; line-height: 50px; display: inline-block; cursor: pointer; }
#main-nav-mobi ul li.menu-item-has-children .arrow::after { width: 50px; text-align: center; font-size: 20px; position: absolute; top: 0; right: 0; content: "\f105"; font-family: "Fontawesome"; } 
#main-nav-mobi ul li.menu-item-has-children .arrow.active::after { content: "\f107"; } 

/* Mobile Button */
.mobile-button { margin-top: 23px; width: 26px; height: 16px; display: none; float: right; position: relative; background-color: transparent; cursor: pointer; -webkit-transition: all ease .238s; transition: all ease .238s; }
.mobile-button:before,
.mobile-button:after, 
.mobile-button span { background-color: #222; -webkit-transition: all ease .238s; transition: all ease .238s; }
.mobile-button:before,
.mobile-button:after { content: ''; position: absolute; top: 0; height: 3px; width: 100%; left: 0; top: 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; }
.mobile-button span { position: absolute; width: 100%; height: 3px; left: 0; top: 50%; overflow: hidden; text-indent: 200%; }
.mobile-button:before { -webkit-transform: translate3d(0,-7px,0); transform: translate3d(0,-7px,0); }
.mobile-button:after { -webkit-transform: translate3d(0,7px,0); transform: translate3d(0,7px,0); }
.mobile-button.active span { opacity: 0; }
.mobile-button.active:before { -webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg); }
.mobile-button.active:after { -webkit-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg); }

/* Header Search */
#site-header .header-search-icon { color: #fff; font-weight: 600; line-height: 60px; display: inline-block; font-size: 17px; }
#site-header .header-search-icon:hover { color: #282828; }
#site-header .header-search-form { position: absolute; top: 50%; right: 25px; transform: translateY(-50%); display: none; }
#site-header .header-search-field { padding-top: 5px; padding-bottom: 5px; width: 210px; margin: 0; }
#site-header .header-search-submit { position: absolute; top: 0; right: 0; display: none; opacity: 0; }

/* Featured Title
-------------------------------------------------------------- */
#featured-title { background-size: 100% 100% !important; padding-top: 144px; padding-bottom: 149px; background-attachment: unset !important;}
#featured-title .featured-title-inner-wrap { text-align: center; width: 100%; height: 100%; }
#featured-title .breadcrumbs-inner { margin-top: -17px; }
#featured-title .breadcrumb-trail { font-size: 18px; }
#featured-title .breadcrumb-trail a { color: #fff; }
#featured-title .breadcrumb-trail a:hover { color: #00A886; }
#featured-title .breadcrumb-trail .trail-end { color: #00A886; }
#featured-title .featured-title-heading { font-size: 60px; color: #fff; margin: 0; }

/* Blog Post
-------------------------------------------------------------- */
.hentry { margin-top: 8px; background-color: #fff; border-bottom: solid 1px #e7e7e7; }
.hentry:first-child { margin-top: 0; }
.hentry .post-content-wrap { padding: 32px 0 48px 0; }

/* Post Media */
.hentry .post-media { position: relative; }
.hentry .post-media .post-day { position: absolute; bottom: -35px; left: 40px; width: 70px; height: 70px; padding-top: 7px; background-color: #00A886; color: #fff; line-height: 28px; text-align: center; }
.hentry .post-media .post-day p { font-family: 'Hind', sans-serif; margin: 0; font-size: 16px; }
.hentry .post-media .post-day .day { margin-bottom: 3px; font-size: 24px; }
.hentry .post-media .post-day .month { font-size: 16px; }

/* Post Title */
.hentry .post-title { font-size: 28px; letter-spacing: 1px; margin-bottom: 4px; }
.hentry .post-title a { color: #181818; }
.hentry .post-title a:hover { color: #00A886; }

/* Post Content */
.hentry .post-content { margin-bottom: 22px; }

/* Post Meta */
.hentry .post-meta { margin-bottom: 18px; }
.hentry .post-meta .meta { display:inline-block; position: relative; padding-left: 21px; margin-right: 20px; font-style: italic; font-size: 13px; }
.hentry .post-meta .meta.category { padding-left: 24px; }
.hentry .post-meta .meta.date { margin-right: 8px; }
.hentry .post-meta .meta:after { position: absolute; top: 2px; left: 0; color: #00A886; content: ""; line-height: normal; font-family: "Fontawesome"; font-size: 17px; font-style: normal; }
.hentry .post-meta .meta.author:after { content: "\f007"; }
.hentry .post-meta .meta.date:after { content: "\f017"; }
.hentry .post-meta .meta.comment:after { content: "\f086"; }
.hentry .post-meta .meta.category:after { content: "\f07c"; }

/* Post Link */
.hentry .post-read-more { float: right; }
.hentry .post-meta-share-icon { float: right; }
.hentry .post-read-more a { display: inline-block; padding: 0 22px; background-color: #00A886; border-radius: 3px; line-height: 40px; color: #fff; font-family: 'Hind', sans-serif; font-size: 14px; font-weight: 600; }
.hentry .post-read-more a:hover { background-color: #303030; }
.hentry .post-meta-share-icon a { font-size: 16px; line-height: 40px; width: 40px; height: 40px; margin-left: 10px; background: #e7e7e7; color: #fff; display: inline-block; text-align: center; border-radius: 3px; }
.hentry .post-meta-share-icon a:hover { background: #00A886; }

/* Blog Single
-------------------------------------------------------------- */
.hentry .post-content-single-wrap .post-content-wrap { padding: 32px 0 40px 0; }
.hentry .post-content-single-wrap .post-content-wrap .post-content { margin-bottom: 41px; }
.hentry .post-content-single-wrap .post-content-wrap .post-content .block { background-color: #fff; border: none; border-left: solid 5px #00A886; padding: 0 0 0 20px; margin: 26px 0 20px 50px; }

/* Post Meta Link */
.hentry .post-content-single-wrap .post-meta-share-icon { float: left; }
.hentry .post-content-single-wrap .post-meta-tag { float: right; }
.hentry .post-content-single-wrap .post-meta-link { margin-bottom: 10px; }
.hentry .post-content-single-wrap .post-meta-link h3 { font-size: 20px; margin-right: 10px; display: inline-block; margin-bottom: 0; }
.hentry .post-content-single-wrap .post-meta-tag a { display: inline-block; height: 40px; border: solid 1px #e7e7e7; border-radius: 3px; padding: 0 25px; margin: 0 0 0 10px; font-size: 16px; color: #848484; line-height: 38px; }
.hentry .post-content-single-wrap .post-meta-tag a:hover { background-color: #00A886; color: #fff; }

/* Post Comment */
#comments { margin-top: 41px; }
#comments .comments-title { margin-bottom: 26px; font-size: 28px; }

/* Comment List */
#comments ol { list-style: none; margin: 0; margin-bottom: 20px; }
#comments ol li .gravatar { float: left; margin-right: 29px; width: 300px; }
#comments ol li .gravatar img {/* border-radius: 50%; */}
#comments ol li .comment-content { overflow: hidden; border-bottom: solid 1px #e7e7e7; padding-bottom: 35px; margin-bottom: 20px; margin-top: -4px; }
#comments ol li .comment-reply a { color: #00A886; padding-left: 5px; }
#comments ol li .comment-reply a:hover { color: #232323; }
#comments ol li ul { list-style: none; margin: 0; }
#comments ol li ul li .comment-wrap { margin-left: 100px; }
#comments .comment-meta { margin-bottom: 14px; }
#comments .comment-meta-post { float: left; }
#comments .comment-reply { float: right; font-size: 20px; }
#comments .comment-author { font-size: 20px; margin-bottom: 5px; }
#comments .comment-time { font-style: italic; }
#comments .time-date { margin-right: 12px; }
#comments .comment-text p { line-height: 26px; }

/* Comment Form */
#comments #reply-title { font-size: 28px; margin-bottom: 8px; }
#comments .comment-note { font-size: 18px; }
/*.comment-form { margin-top: 33px; }*/
.comment-form .email-wrap,
.comment-form .name-wrap { float: left; margin-bottom: 30px; }
.comment-form .email-wrap { width: 31.724%; }
.comment-form .name-wrap { width: 31.725%; margin-right: 2.413%; }
.comment-form .website-wrap { float: right; width: 31.725%; margin-bottom: 30px; }
.comment-form textarea { padding-left: 15px; height: 250px; }
.comment-form .email-wrap input,
.comment-form .name-wrap input { padding-left: 15px; }
.comment-form .form-submit { margin: 0; }
.comment-form .form-submit input { width: 100%; text-transform: uppercase; }

/* Pagination */
.pagination-page { margin-top: 50px; }
.pagination-page ul { margin: 0; list-style: none; }
.pagination-page ul li .page { width: 40px; height: 40px; line-height: 38px; font-size: 16px; color: #848484; border: solid 1px #e7e7e7; display: inline-block; text-align: center; vertical-align: middle; margin-right: 15px; }
.pagination-page ul li { float: left; }
.pagination-page ul li .page.curent, 
.pagination-page ul li .page:hover { color: #fff; background-color: #00A886; }

/* Widgets
-------------------------------------------------------------- */
#sidebar .widget,
#footer-widgets .widget { position: relative; z-index: 1; margin-top: 36px; }
#footer-widgets .widget { margin-top: 0; margin-bottom: 30px; }
#sidebar .widget ul,
#footer-widgets .widget ul { margin: 0; list-style: none; }

#sidebar .widget.widget_recent_comments { color: #a0a0a0; }
#sidebar .widget.widget_recent_news .post-date,
#footer-widgets .widget.widget_recent_news .post-date { display: block; font-size: 1em; }

/* Title Widget */
#sidebar .widget .widget-title { font-size: 28px; padding-bottom: 12px; margin: 0 0 31px 0; z-index: 1; position: relative; }
#sidebar .widget .widget-title > span::after { position: absolute; bottom: 0; left: 0; content: ""; width: 100%; height: 1px; background: #e7e7e7; z-index: 1; }
#sidebar .widget .widget-title > span::before { position: absolute; bottom: -1px; left: 0; content: ""; width: 70px; height: 3px; background: #00A886; z-index: 2; }

#footer-widgets .widget .widget-title { color: #fff; margin-bottom: 16px; font-size: 18px; text-transform: uppercase; }
#footer-widgets .widget.widget_information .widget-title { margin-bottom: 13px; }

/* Widget: Categories */
.widget.widget_categories ul li,
.widget.widget_recent_news ul li { padding: 17px 0; border-top: 1px solid #e7e7e7; }
.widget.widget_categories ul li:first-child,
.widget.widget_recent_news ul li:first-child { padding-top: 0; border: none; }
.widget.widget_categories ul li:last-child,
.widget.widget_recent_news ul li:last-child { padding-bottom: 0; }

.widget.widget_categories ul li a,
.widget.widget_recent_news ul li a { color: #181818; }
#footer-widgets .widget.widget_categories ul li a,
#footer-widgets .widget.widget_recent-news ul li a { color: #848484; }

.widget.widget_categories ul li a:hover,
.widget.widget_recent_news ul li a:hover { color: #00A886; }

#footer-widgets .widget.widget_categories ul li a:hover,
#footer-widgets .widget.widget_recent_news ul li a:hover { color: #00A886; }

.widget.widget_categories ul li { position: relative; text-align: right; font-size: 16px; }
.widget.widget_categories ul li a { float: left; display: inline-block; position: relative; padding-left: 18px;}
.widget.widget_categories ul li a:after { position: absolute; top: 1px; left: 0; content: "\f105" ; font-size: 18px; font-family: "FontAwesome"; }

/* Widget: Recent News Advanced */
#sidebar .widget.widget_recent_news { margin-top: 28px; }
#sidebar .widget.widget_recent_news ul li,
#footer-widgets .widget.widget_recent_news ul li { padding: 19px 0; }
#sidebar .widget.widget_recent_news ul li:first-child,
#footer-widgets .widget.widget_recent_news ul li:first-child { margin-top: 10px; padding-top: 0; }
#footer-widgets .widget.widget_recent_news ul li:first-child { margin-top: 6px; }
#sidebar .widget.widget_recent_news ul li:last-child,
#footer-widgets .widget.widget_recent_news ul li:last-child { padding-bottom: 0; }
#sidebar .widget.widget_recent_news .recent-news .thumb,
#footer-widgets .widget.widget_recent_news .recent-news .thumb { width: 150px; float: left; margin: 0 21px 0 0; }
#sidebar .widget.widget_recent_news .recent-news .thumb img,
#footer-widgets .widget.widget_recent_news .recent-news .thumb img { width: 100%; height: 150px; }
#sidebar .widget.widget_recent_news h3,
#footer-widgets .widget.widget_recent_news h3 { font-size: 18px; margin: 3px 0 3px; font-weight: 500; line-height: 26px; }
#footer-widgets .widget.widget_recent_news h3 { font-size: 16px; }
#footer-widgets .widget.widget_recent_news h3 a { color: #c0c0c0; }
#sidebar .widget.widget_recent_news h3 a:hover,
#footer-widgets .widget.widget_recent_news h3 a:hover { color: #00A886; }
#sidebar .widget.widget_recent_news .recent-news .texts,
#footer-widgets .widget.widget_recent_news .recent-news .texts { overflow: hidden; }
#sidebar .widget.widget_recent_news .post-date,
#footer-widgets .widget.widget_recent_news .post-date { font-style: italic; }
#footer-widgets .widget.widget_recent_news .post-date { font-size: 13px; color: #878787; }
#footer-widgets .widget.widget_recent_news ul li { border-top-color: #646464; padding: 11px 0; }

/* Widget: Search */
#sidebar .widget.widget_search { margin-top: 0; }
#sidebar .widget.widget_search .search-form,
#footer-widgets .widget.widget_search .search-form { position: relative; }
#sidebar .widget.widget_search .search-form .search-field,
#footer-widgets .widget.widget_search .search-form .search-field { margin-bottom: 0; padding: 11px 20px; border-radius: 0; }
#footer-widgets .widget.widget_search .search-form .search-field { background-color: transparent; }
#sidebar .widget.widget_search .search-form .search-submit,
#footer-widgets .widget.widget_search .search-form .search-submit { position: absolute; right: 0; top: 0; width: 50px; height: 50px; text-align: center; line-height: 50px; text-indent: 999999px; background-color: #00A886; padding: 0; border: 0; overflow: hidden; }
#sidebar .widget.widget_search .search-form .search-submit:before,
#footer-widgets .widget.widget_search .search-form .search-submit:before { color: #fff; content: "\f002"; font-family: "FontAwesome"; font-size: 16px; position: absolute; left: 2px; top: 0px; width: 100%; text-align: center; text-indent: 0; font-weight: normal; -webkit-transition: color ease .238s; -moz-transition: color ease .238s; transition: color ease .238s; }
#sidebar .widget.widget_search .search-form .search-submit:hover:before,
#footer-widgets .widget.widget_search .search-form .search-submit:hover:before { color: #282828; }

/* Widget: Socials */
#sidebar .widget.widget_socials .socials,
#footer-widgets .widget.widget_socials .socials { margin: 0 -5px; }
#sidebar .widget.widget_socials .socials .icon,
#footer-widgets .widget.widget_socials .socials .icon { padding: 0 5px; float: left; }
#sidebar .widget.widget_socials .socials a,
#footer-widgets .widget.widget_socials .socials a { float: left; font-size: 14px; background-color: #4c4c4c; border-radius: 50%; color: #fff; display: inline-block; width: 35px; height: 35px; line-height: 34px; text-align: center; z-index: 1; }
#sidebar .widget.widget_socials .socials a:hover,
#footer-widgets .widget.widget_socials .socials a:hover { background-color: #00A886; color: #fff; }

/* Widget: Tags */
#sidebar .widget.widget_tag_cloud .widget-title { margin-bottom: 40px; }
#sidebar .widget.widget_tag_cloud .tagcloud:before,
#sidebar .widget.widget_tag_cloud .tagcloud:after,
#footer-widgets .widget.widget_tag_cloud .tagcloud:before,
#footer-widgets .widget.widget_tag_cloud .tagcloud:after,
.widget_product_tag_cloud .tagcloud:before,
.widget_product_tag_cloud .tagcloud:after { display: table; clear: both; content: ""; }
#sidebar .widget.widget_tag_cloud .tagcloud a,
#footer-widgets .widget.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a { float: left; display: inline-block; border: solid 1px #e7e7e7; color: #646464; border-radius: 3px; padding: 0 17px; margin: 0 20px 20px 0; font-size: 16px; line-height: 38px; z-index: 1; }
#sidebar .widget.widget_tag_cloud .tagcloud a:hover,
#footer-widgets .widget.widget_tag_cloud .tagcloud a:hover { background-color: #00A886; color: #fff; border-color: #00A886; }

#footer-widgets .widget.widget_tag_cloud .tagcloud a { color: #fff; background-color: #00A886; }
#footer-widgets .widget.widget_tag_cloud .tagcloud a:hover { color: #00A886; background-color: #848484; border: solid 1px #848484; }

/* Widget: Links */
#sidebar .widget.widget_links ul li,
#footer-widgets .widget.widget_links ul li { border: 0;}
#sidebar .widget.widget_links ul.col2 li,
#footer-widgets .widget.widget_links ul.col2 li { width: 35%; float: left; padding: 10px 0 10px 0; }
#sidebar .widget.widget_links ul.col2 li,
#footer-widgets .widget.widget_links ul.col2 li i { font-size: 16px; }
#sidebar .widget.widget_links ul li a,
#footer-widgets .widget.widget_links ul li a { position: relative; display: inline-block; padding-left: 20px; color: #878787; }
#sidebar .widget.widget_links ul li.right a,
#footer-widgets .widget.widget_links ul li.right a { margin-left: 16px; }
#sidebar .widget.widget_links ul li i,
#footer-widgets .widget.widget_links ul li i { position: absolute; left: 0; top: 2px; }
#sidebar .widget.widget_links ul li a:hover,
#footer-widgets .widget.widget_links ul li a:hover { color: #00A886; }

/* Widget: Information */
#sidebar .widget.widget.widget_information ul li,
#footer-widgets .widget.widget.widget_information ul li { position: relative; padding: 10px 0 18px 30px; margin-bottom: 5px; border: 0; color: #878787; /*border-bottom: solid 1px #646464; */}
#sidebar .widget.widget.widget_information ul li:last-child,
#footer-widgets .widget.widget.widget_information ul li:last-child { margin-bottom: 0 !important; border: none; padding-bottom: 0; }

#sidebar .widget.widget.widget_information ul li i,
#footer-widgets .widget.widget.widget_information ul li i { position: absolute; left: 0; top: 10px; color: #00A886; font-size: 20px; }

/* Widget Sapcer */
#sidebar .widget.widget_spacer,
#footer .widget.widget_spacer { margin-bottom: 0; }

/* Widget Text */
#sidebar .widget.widget_text,
#footer .widget.widget_text { color: #878787; }

/* Footer
-------------------------------------------------------------- */
#footer { background-color: #242424; padding: 20px 0 0 0; }

/* Bootom
-------------------------------------------------------------- */
#bottom { background-color: #1a1a1a; }
#bottom #bottom-bar-inner { padding: 35px 0; position: relative; }
#bottom .bottom-bar-inner-wrap { position: absolute; top: 50%; left: 0; width: 100%; transform: translateY(-50%); }
#bottom .copyright { text-align: left; margin: 0; }
#bottom .copyright span { margin-right: 5px; }

/* Revolution Slider
-------------------------------------------------------------- */
.rev_slider_wrapper ul { margin: 0; }
.tparrows.custom { background-color: rgba(0,0,0,0.1); width: 60px; height: 80px; -webkit-transition: background .238s; transition: background .238s; }
.tparrows.custom:hover { background-color: #00A886; }
.custom.tparrows.tp-leftarrow:before,
.custom.tparrows.tp-rightarrow:before { content: ""; font-size: 32px; line-height: 80px; font-family: "FontAwesome"; position: absolute; left: 0; top: 0; text-indent: 0; width: 100%; height: 100%; }
.custom.tparrows.tp-leftarrow:before { content: "\f104"; }
.custom.tparrows.tp-rightarrow:before { content: "\f105"; }

/* Scroll Top
-------------------------------------------------------------- */
#scroll-top { position: fixed !important; right: 25px; bottom: -50px; display: block; line-height: 38px; text-align: center; width: 40px; height: 40px; visibility: hidden; filter: alpha(opacity=0); opacity: 0; z-index: 9999; cursor: pointer; z-index: 1; overflow: hidden; }
#scroll-top:after { content: "\f106"; font-family: "FontAwesome"; color: #fff; font-size: 20px; position: absolute; left: 0; top: 0; width: 100%; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
#scroll-top:before { border-radius: 3px; content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #00A886; z-index: -1; -webkit-transition: all ease .238s; -moz-transition: all ease .238s; transition: all ease .238s; }
#scroll-top:hover:before { background-color: #585252; }
#scroll-top:hover:after { color: #fff; }
#scroll-top.show { bottom: 18px; filter: alpha(opacity=100); opacity: 1; visibility: visible; }

/* Media Queries
-------------------------------------------------------------- */
@media only screen and (min-width: 1930px) {
	.parallax {
		background-size: cover;
	}
}

@media only screen and (min-width: 1200px) {
	.container { width: 1200px; }
}

@media only screen and (max-width: 991px) {
	#top-bar,
	#site-header #header-aside,
	#site-header .site-navigation-wrap,
	/*#sidebar { display: none; }*/

	#site-header #site-header-inner { padding: 20px 0; }
	#site-header .mobile-button { display: block; }

	#featured-title { background-size: cover !important; padding-top: 90px; padding-bottom: 100px; background-position: 50% 0 !important;}
	#featured-title .featured-title-heading { font-size: 30px; }

	#site-content,
	#sidebar { width: 100% !important; max-width: none !important; float: none; }
	#inner-content { padding-left: 0 !important; padding-right: 0 !important; }

	#main-content { padding: 60px 0; }

	.hentry .post-content-single-wrap .post-content-wrap .post-content .block { margin-left: 30px; }
}

@media only screen and (max-width: 767px) {
	.hentry .post-read-more a { margin-bottom: 10px; }
	.hentry .post-author { text-align: center; }
	.author-post .thumb { width: 70px; }
	.hentry .post-content-single-wrap .post-meta-share-icon { margin-bottom: 20px; }
	.hentry .post-content-single-wrap .post-content-wrap .post-content .block { margin-left: 15px; }

	#comments ol li ul li .comment-wrap { margin-left: 70px; }
	#comments ol li .gravatar { width: 100%; float: none; margin: 0 0 17px; }
.comment-form .name-wrap, .comment-form .website-wrap, .comment-form .email-wrap { width: 100%; float: none; /*margin: 0;*/ }

#footer { padding: 50px 0; }
#footer-widgets .col .widget:last-child { margin-bottom: 40px; }
#footer-widgets .col:last-child .widget:last-child { margin-bottom: 0px; }
#footer-widgets .wprt-row .col { width: 100%; }
#sidebar .widget.widget_recent_news .recent-news .thumb, #footer-widgets .widget.widget_recent_news .recent-news .thumb {
	width: 100% !important; 
	float: left;
	margin: 0 0 0 0 !important; 
}
#sidebar .widget.widget_recent_news .recent-news .texts, #footer-widgets .widget.widget_recent_news .recent-news .texts {
	overflow: hidden;
	display: inline-block !important;
	margin-top: 16px !important;
}
}


/* HUDA */
.post-excerpt{
	margin-top: 10px;
	margin-bottom: 10px;
}

.news-read-more a{
	color: #00A886 !important;
}

.text-white-p p{
	color: white !important;
}
.center-partner-title{
	text-align: center;
}

/*add heba*/
.image-new{
	height: 370px !important;
}

.type{
	border-top: 1px solid #e7e7e7;
	padding-top: 37px;
	padding-bottom: 19px;
}

.image-type{
	height: 250px;
	width: 390px !important;
}

.img-partner{
	height: 179px;
	width: 277px;
}
.img-news{
	height: 249px;
	width: 370px;
}

button.close {
	overflow-x: hidden;
	overflow-y: hidden;
}

.post-btn{
	margin-left: 30px; 
	margin-bottom: 25px;
}


.img_success_stories {
	width: 265px;
	height: 336px;
}

.hidden-s{
	border: none !important;
}
.modal-header {
	border-bottom: none !important;
}


.news-babk-btn{
	float: right;
}




@media only screen and (max-width: 991px) {
	#header-aside {display: none;}
	.site-navigation-wrap {display: none;}
	#top-bar {display: none;}
	.lang-list{display: block;}
}
#site-logo img  {
	width: 100%  !important;
	height: auto !important;

}

.subscribe-submit{
	padding: 5.5px 24px !important;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #00A886;
	border-color: #00A886;
}
.new-style{
	padding: 35px 35px 0px 30px !important;
}
.modle-sc{
	overflow: hidden !important; 

}

.phone-new{
	margin-right: 0px !important;
	margin-left: 16px !important;
}
/*.add-style{padding-bottom: 21px;}*/
.sidebar-new::before{width: 116px !important;}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
	background-color: #fff !important;
}
.name-wrap-new{
	border: solid 1px /*#e7e7e7*/ #ccb9b9;
	border-radius: 3px;
	padding: 13.5px 25px;
	background-color: #fff;
	line-height: inherit;
	height: auto;
	text-shadow: none;
	box-shadow: none;
	box-sizing: border-box;
	transition: border ease .238s;
}
#cv ,#image ,#nation{font-style: italic;
	color: #9e8d8d;
}
select{
	font-style: italic; color: #9e8d8d;
}
.edit-size{
	font-size: 23px !important;
	padding-left: 3px;
	padding-top: 25px !important;
	top: 0 !important;

}
.font-edit{
	font-family: 'Open Sans', sans-serif !important;
}
.language-new{
	float: right !important;
}
.edit-height{
	font-size: 18px !important;
	width: 39px !important;
	height: 39px !important;
	line-height: 39px !important;
}

.img-head{
	height: 430px !important;
}

@media only screen and (max-width: 600px) {
	.flex {display: block;}

	.wprt-contact-form-2 .wpcf7-form-control-wrap.email {margin-right: 0;}
	.wprt-contact-form-2 .wpcf7-form-control-wrap.name {margin-right: 0;}
	.phone-new {margin-right: 0px !important;}

	.hidden-s{display: none !important;}
	.phone-new{margin-left: 0px !important;}
	.owl-nav{display: none !important;}
	.owl-carousel .owl-stage-outer {
		overflow: visible !important;
	}
	.c-footer {
		padding-left: 14px !important;
	}
	.new-title{
		padding-left: 12px;
	}
	.new-widget{
		padding-left: 14px;
	}
	.language-new {
		float: none !important;
	}
	.img-head{
		height: 150px !important;
	}
}
@media only screen  and (min-width: 320px)and  (max-width: 386px){
	.r{float: none !important;}

	#bottom .copyright {
		text-align: center !important;
	}
	.img-responsive-new{ padding-bottom: 6px !important;margin: 0 auto ;}

}

.edit-size-footer{
	font-size: 23px !important;
	padding-left: 3px;
	padding-top: 10px !important;
	top: 0 !important;
}

/*By Moath*/
.swiper-container {
	width: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.mr-t {
	margin-top: -50px;
}

